<nav class="navbar navbar-expand-lg fixed-top text-white py-0">
  <div class="container-fluid">
    <a class="navbar-brand" routerLink="/">
      <img src="assets/images/logo.png" class="img-fluid" alt="" />
    </a>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="offcanvas"
      data-bs-target="#navbarOffcanvasLg"
      aria-controls="navbarOffcanvasLg"
    >
      <i class="fas fa-bars text-white"></i>
    </button>
    <div
      class="offcanvas offcanvas-end d-flex flex-row"
      tabindex="-1"
      id="navbarOffcanvasLg"
      aria-labelledby="navbarOffcanvasLgLabel"
    >
      <ul class="navbar-nav me-auto mb-2 mb-lg-0 text-capitalize">
        <!-- DROPDOWN -->
        <li class="nav-item">
          <button
            class="
              d-lg-block d-none
              h-100
              align-items-center
              nav-link
              w-100
              dropdown-toggle
              btn
              text-white
              bg-transparent
              d-flex
            "
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-th-large text-white"></i>
            <span class="">Bridge</span>
          </button>
          <button
            class="
              d-block d-lg-none
              align-items-center
              nav-link
              w-100
              dropdown-toggle
              btn
              text-white
              bg-transparent
              d-flex
            "
            href="#"
            id="navbarDarkDropdownMenuLink"
            role="button"
            data-bs-toggle="dropdown"
            aria-expanded="false"
          >
            <i class="fas fa-th-large text-white"></i>
            <span class="">Bridge</span>
          </button>
          <ul
            class="dropdown-menu border-0 rounded-0 pt-0 pt-lg-2"
            aria-labelledby="navbarDarkDropdownMenuLink"
          >
            <li>
              <a class="dropdown-item text-white" routerLink="/deposit"
                >Deposit</a
              >
            </li>
            <li>
              <a class="dropdown-item text-white" routerLink="/withdraw"
                >Withdraw</a
              >
            </li>
          </ul>
        </li>
        <!-- // DROPDOWN -->
        <li class="nav-item">
          <a
            routerLink=""
            routerLinkActive="routerLinkActivate"
            [routerLinkActiveOptions]="{ exact: true }"
            class="
              nav-link
              rounded-0
              btn
              d-flex
              align-items-center
              h-100
              px-lg-3 px-0
            "
          >
            <i class="fas fa-tachometer-alt"></i> Dashboard
          </a>
        </li>
        <li class="nav-item">
          <a
            routerLink="/marketplace"
            routerLinkActive="routerLinkActivate"
            class="
              nav-link
              rounded-0
              btn
              d-flex
              align-items-center
              h-100
              px-lg-3 px-0
            "
          >
            <i class="fas fa-store"></i> Marketplace
          </a>
        </li>
        <li class="nav-item d-block d-lg-none mt-5">
          <a
            *ngIf="!valdationLoginOrProfile"
            routerLink="/login"
            class="nav-link btn bg-primary h-100 px-lg-3 px-0 login"
          >
            <span class="mt-1"> <i class="fas fa-sign-in-alt"></i>Login </span>
          </a>
          <a
            *ngIf="valdationLoginOrProfile"
            routerLink="/profile"
            class="nav-link btn bg-transparent h-100 px-lg-3 px-0 login"
          >
            <div class="d-flex flex-wrap align-items-center">
              <i
                class="far fa-user-circle"
                style="font-size: var(--font-size-24)"
              ></i>

              <div class="d-flex flex-column text-end">
                <label>Account</label>
                <label
                  style="
                    font-size: var(--font-size-10);
                    color: var(--color-gray-2);
                  "
                >
                  {{ wallet | slice: 0:5 }}...{{ wallet | slice: -4 }}
                </label>
              </div>
            </div>
          </a>
        </li>
      </ul>
      <form class="d-flex w-100 justify-content-end">
        <a
          *ngIf="!valdationLoginOrProfile"
          routerLink="/login"
          class="
            d-lg-block d-none
            login
            nav-link
            rounded-0
            btn
            bg-primary
            d-flex
            align-items-center
            h-100
            px-lg-3 px-0
          "
        >
          <i class="fas fa-sign-in-alt"></i>Login
        </a>
        <a
          *ngIf="valdationLoginOrProfile"
          routerLink="/profile"
          class="
            d-lg-block d-none
            login
            nav-link
            rounded-0
            btn
            bg-transparent
            d-flex
            h-100
            px-lg-3 px-0
          "
        >
          <div class="d-flex flex-wrap align-items-center">
            <i
              class="far fa-user-circle"
              style="font-size: var(--font-size-24)"
            ></i>

            <div class="d-flex flex-column text-end">
              <label>Account</label>
              <label
                style="
                  font-size: var(--font-size-10);
                  color: var(--color-gray-2);
                "
              >
                {{ wallet | slice: 0:5 }}...{{ wallet | slice: -4 }}
              </label>
            </div>
          </div>
        </a>
      </form>
    </div>
  </div>
</nav>
