body {
  color: var(--color-white);
  background: var(--color-gray-5);
  font-family: Avenir Next, Muli, sans-serif;
  font-size: var(--font-size-14);
  min-height: 100vh;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
}
